<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65998770569-ml9eag5tq9r3u5248a8hck4pb8pkchqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65998770569-ml9eag5tq9r3u5248a8hck4pb8pkchqg</string>
	<key>API_KEY</key>
	<string>AIzaSyDaEOPSlgs63-dG9PZcKara-FMbQWNwjMw</string>
	<key>GCM_SENDER_ID</key>
	<string>65998770569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterRecipeSaver</string>
	<key>PROJECT_ID</key>
	<string>recipe-saver-f3869</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-saver-f3869.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65998770569:ios:2da418bf80f9b4600f5158</string>
</dict>
</plist>